<mat-card>
  <mat-card-header>
    <mat-card-title>Crear Cliente</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="100px">

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Tipo de Documento</mat-label>
          <mat-select [(ngModel)]="client.identificationType">
            <mat-option value="CC">Cedula de Ciudadanía</mat-option>
            <mat-option value="CE">Cedula de Extranjería</mat-option>
            <mat-option value="NIT">NIT</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Documento</mat-label>
          <input [(ngModel)]="client.identification" matInput type="number">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input [(ngModel)]="client.name" matInput>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>Genero</mat-label>
          <mat-select [(ngModel)]="client.gender">
            <mat-option value="F">Femenino</mat-option>
            <mat-option value="M">Masculino</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>

  <mat-card-actions>
    <button
      class="action-button"
      mat-raised-button
      color="primary"
      [disabled]="checkClient()"
      (click)="createClient()">
      Crear Cliente
    </button>
    <button
      class="action-button" mat-raised-button
      routerLink="/clients"
      routerLinkActive="active"
      ariaCurrentWhenActive="page">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
